<?php

use Dotenv\Dotenv;
use function Baka\appPath;

$dotenv = Dotenv::createImmutable(appPath());
$dotenv->load();

return [
    'paths' => [
        'migrations' => [
            getenv('PHINX_CONFIG_DIR') . '/db/migrations',
        ],
        'seeds' => [
            getenv('PHINX_CONFIG_DIR') . '/db/seeds',
        ]
    ],
    'environments' => [
        'default_migration_table' => 'ut_migrations',
        'default_database' => 'development',
        'production' => [
            'adapter' => 'mysql',
            'host' => getenv('GUILD_MYSQL_MYSQL_HOST'),
            'name' => getenv('GUILD_MYSQL_MYSQL_NAME'),
            'user' => getenv('GUILD_MYSQL_MYSQL_USER'),
            'pass' => getenv('GUILD_MYSQL_MYSQL_PASS'),
            'port' => 3306,
            'charset' => 'utf8',
        ],
        'development' => [
            'adapter' => 'mysql',
            'host' => getenv('GUILD_MYSQL_MYSQL_HOST'),
            'name' => getenv('GUILD_MYSQL_MYSQL_NAME'),
            'user' => getenv('GUILD_MYSQL_MYSQL_USER'),
            'pass' => getenv('GUILD_MYSQL_MYSQL_PASS'),
            'port' => 3306,
            'charset' => 'utf8',
        ],
    ],
    'version_order' => 'creation',
];

